body{
  background: #FBDCE2;
  margin: 1px 2px 0px 2px;;
}

/* Top Navigation bar styling and adjustment */

.topnav {
  position: relative;
  top: 10px;
  /*overflow: hidden;*/
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 30px;
}


/* Made a button-like structure from the anchor tag */
.topnav a {
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  font-family: monospace;
  align-items: center;
}

/* hovering effects on the buttons in the top nav */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
  font-size: 20px;
}

/* Button Styling for the active button */
.topnav a.active {
  background-color: black;
  color: white;
}

.topnavOrientation {
  background-color: #2e2e37;
  height: 85px;
  width: 100%;
}

/* outermost div of the Image Slider */
.slides {
  position: relative;
  height: 300px;
  width: 600px;
  top: 50px;
  border-radius: 30px;
}

#overview {
  height: 100%;
  width: 100%;
}

.logo {
  height: 200px;
  width: 200px;
  align-self: center;
}

img
{
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

/* hover effect on the Image Slider */
.slides:hover {
  width: 625px;
  height: 310px;
}

/* A triangle down shape for the design */
.triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #1b9aaaff;
}

.homebody {
  background-color: #1b9aaaff;
  height: 400px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.downBody {
  margin-top: 20px;
  padding: 10px;
}

.downBody a {
  font-size: 40px;
  font-family: fantasy;
  color: #FF5A5F;
  text-decoration: none;
  padding: 0;
}
 
#browseProducts:hover {
  cursor: pointer;
  font-size: 42px;
  width: 35%;
}

#hotdeals {
  width: 23%;
/*  margin-top: 20px;*/
}

#browseProducts {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #FF5A5F;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

#browseProducts font {
  color: #FBDCE2;
}





